*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box{
    
    background-color: white;
    width: clamp(300px, 50%, 500px);
    height: 60%;
    border-radius: 19px;
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.inpt{
    width: 100%;
    height: 20%;
}
.inpt input{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 19px 19px 0 0;
    padding: 10px 20px;
    outline: none;
    font: 2rem bolder fantasy;
    
}
.calcdata{
    width: 100%;
    height: 80%;

}

table{
    width: 100%;
    height: 100%;
    text-align: center;
}
button{
  font-size: clamp(1rem, 2vw, 2rem);
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.356);
}

td button{
    background-color: hotpink;
    color: white;
    transition: .2s;
}
td button:hover{
    background-color: rgba(247, 52, 149, 0.87);

}
th button{
    background-color: aqua;
    color: tomato;
}
th button:hover{
    transition: .3s;
    background-color: rgb(5, 216, 216);
}
